.container{
    height: 93%;
    border-radius:10px ;
    background-color: #dbe3f1;
    margin-top: 20px;
}
.chatContainer{
    height: 83vh;
    padding: 10px;
    overflow: auto ;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}

.MessageBox{
    position: relative;
    bottom: 0%;
    width: 100%;
    display: flex;
    margin-left: 35px;
    height: 40px;
}